name: Test consuming this action
on:
  release:
    types: [released]
  workflow_run:
    workflows: ["Release"]
    types: ["completed"]
jobs:
  test_success:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Create dummy git repo
        run: ./tests/create-dummy-repo.sh dummy-repo

      - uses: ./
        id: test
        with:
          release-branch: master
          tag-prefix: 'v'
          working-directory: './dummy-repo'

      - name: Output latest tag
        run: echo "Latest tag is ${{ steps.test.outputs.latest_tag }}"
